body {
  font-family: Arial;
  background: #f3f4f6;
  padding: 30px;
}

.card {
  background: white;
  padding: 20px;
  margin: auto;
  width: 800px;
  border-radius: 10px;
}

input, select, button {
  width: 100%;
  padding: 10px;
  margin-top: 8px;
}

.row {
  display: flex;
  gap: 10px;
}

table {
  width: 100%;
  border-collapse: collapse;
}

th, td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: center;
}
