# Virtual environment
venv/
.env/

# Python cache
__pycache__/
*.pyc
*.pyo

# SQLite database
*.db

# VS Code
.vscode/

# OS files
.DS_Store
Thumbs.db

# Logs
*.log

# FastAPI / Uvicorn
*.pid

# Pytest
.pytest_cache/

# MyPy
.mypy_cache/
